
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: courier new;
}

.gif-container {
  text-align: center;
}

body {
  width: 100%;
  padding: 1rem;
}


h1 {
  text-align: center;
  padding: 2rem;
  color: rgb(48, 90, 120);
  border: 5px;
}

#dropDown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.dropdown {
  list-style: none;
}

.dropdown > li {
  display: inline-block;
  position: relative;
  padding: 10px;
  background: black;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

#mealList {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin: 1rem;
  color: white;
}

.moreInfo {
border: 1px solid black;
padding: 0.5rem;
justify-content: center;
align-items: center;
}

.eachRender {
padding: 3rem;
box-sizing: border-box;
max-height: 50rem;
border-radius: 40px;
background-color: rgb(96, 156, 199);
text-align: center;
}

.meal-image {
width: 15rem;
height: auto;
border-radius: 40px;

}

#search {
  padding: 4px;
}

form {
  text-align: center;
  padding: 2rem;
}


h2 {
  text-align: center;
  padding: 0.5rem;
}

p {
  text-align: center;
  word-wrap: break-word;
  color: black;
  padding: 0.5rem;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#oneMeal {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
    padding: 1rem;
  }
}