* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  text-align: center;
}

#dropDown-container {
  display: flex;
  padding: 10rem;
  justify-content: center;
  align-items: center;
}

#search {
  padding: 4px;
}

form {
  text-align: center;
  padding: 4rem;
}

h2 {
  text-align: center;
}

#randomize {
  display: block;
  margin: 0 auto;
  padding: 4px;
}