* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  text-align: center;
}

#dropDown-container {
  display: flex;
  padding: 10rem;
  justify-content: center;
  align-items: center;
}

#mealList {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

section {
  margin: 1rem;
  color: white;
}

.moreInfo {
  margin: 1rem;
  padding: 5px;
}

.eachRender {
  background-color: darkblue;
  border-radius: 10px;
}

.meal-image {
  width: 30rem;
  height: auto;
  border-radius: 10px;
  margin: 1rem;
}

#search {
  padding: 4px;
}

form {
  text-align: center;
  padding: 4rem;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}